.gradle/
.settings/
gradle/
build/
.classpath
.project
build.gradle
gradle.properties
gradlew
gradlew.bat
local.properties
settings.gradle

android/.settings/
android/build/
android/bin/
android/build.gradle

core/.settings/
core/bin/
core/build/
core/build.gradle

desktop/.settings/
desktop/bin/
desktop/build/
desktop/build.gradle
